<ul id="merchant-<%= @merchant.id %>-info">
  <li>Name: <%= @merchant.name %></li>
  <li>E-Mail: <%= @merchant.email %></li>
  <li>Address: <%= @merchant.address %></li>
  <li>City: <%= @merchant.city %></li>
  <li>State: <%= @merchant.state %></li>
  <li>Zip: <%= @merchant.zip %></li>
</ul>

<ol>
<% @merchant.top_items(5).each do |item| %>
  <li class="quantity_list"><%= item.name %>: <%= item.quantity %></li>
<% end %>
</ol>

<p>You have sold <%= @merchant.sold_percentage.sold_count %> items, which is <%= @merchant_1.sold_percentage.percentage %>% of your total inventory.</p>
